.header {
  border-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1000px;
  min-height: 60px;
  /* border: solid 3px yellow; */
    padding: 1rem;
    margin: 1rem;
}
.api{
  display: grid;
  gap: 0.1rem;
  margin: 1rem;
  padding: 1rem;
}

.api:hover {
  border-radius: 1rem;
  background-color: rgba(127, 255, 212, 0.18);
}
