.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  max-width: 1000px;
  min-height: 60px;
  /* margin: 0.7rem; */
  box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
    rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
    rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}
span {
  /* position: relative; */
  /* top: 1.2rem; */
  /* margin-left: 0.5rem; */
  border: rgba(64, 138, 64, 0.139) solid 3px;
  /* padding: 0.5rem; */
}
span:hover {
  background-color: rgba(127, 255, 212, 0.18);
}
